DATABASE_URL = your_db_link;
JWT_SECRET = paste_the_generated_string_here;
PORT = your_port;

// Generate a random JWT secret
// node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
